#recipe-list {
  .item-native {
    padding-left: unset !important;
  }
  .recipe-card {
    display: flex;
    flex-direction: column;
    margin: 10px 15px;
    //   .header-link{
    // }
  }

  /* Due to the fact the cards are inside of columns the margins don't overlap
     * properly so we want to remove the extra margin between cards
     */
  ion-col:not(:last-of-type) .recipe-card {
    margin-bottom: 0;
  }

  .recipe-card .recipe-item {
    --min-height: 85px;
  }

  .recipe-card .recipe-item h2 {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.02em;
  }

  .recipe-card .recipe-item p {
    font-size: 13px;
    letter-spacing: 0.02em;
  }

  .recipe-card ion-card-header {
    padding: 0;
  }

  .recipe-card ion-card-content {
    flex: 1 1 auto;
    border-top: 1px solid var(--ion-color-step-150, #d7d8da);
    padding: 0;
  }

  .ios ion-list {
    margin-bottom: 10px;
  }

  .md ion-list {
    border-top: 1px solid var(--ion-color-step-150, #d7d8da);

    padding: 0;
  }
}
.ingredient-add-button {
  height: 30px;
  width: 30px;
}


.w-100{
  width: 100%;
}

.select-icon {
  width: 18px !important;
  height: 18px;
}

.recipe-background img {
  width: 70px;
  border-radius: 50%;
  margin-top: calc(-1 * var(--ion-safe-area-top));
}

.recipe-img {
  width: 70px;
  height: 70px;
}


.spin{
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
ion-spinner {
  width: 38px;
  height: 38px;
  stroke: #444;
  fill: #222;
}