.recipe_card {
    min-height: 100%;
    padding-bottom: 10px;
}
.recipe_card-main-image-container {
    position: relative;
    .recipe_card-main-image::part(image) {
    }
    .recipe_card-main-image-info--cookTime {
        position: absolute;
        bottom: 5px;
        left: 5px;
        background: rgba(var(--ion-color-base-rgb), .80);
        box-shadow: rgba(0, 0, 0, 0.40) 0px 4px 16px;
    }
}

#recipe-card {
    .toolbar-title-default {
        --opacity: 1;
    }
}
